*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header{
    background-color: #3b060a;
    display: flex;
    justify-content: space-between;
}

header > nav > ul > li{
    list-style: none;
}

header > nav > ul > li:hover{
    background-color: white;
}

header > nav > ul > li:hover a{
    background-color: white;
}

header > nav > ul > li:hover i{
    background-color: #3b060a;
}

header nav ul{
    display: flex;
}

header nav a{
    text-decoration: none;
    padding: 12px 24px;
    display: block;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;

}

.header__search > i{
    color: white;
    font-size: 1.1rem;
    padding: 14px 24px;
}

.header__search > i:hover{
    background-color: #8A0000;
}

.nav__more {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.nav__more:hover .nav__item {
    display: block;
}

.nav__more .nav__item {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; 
    min-width: 160px;
    z-index: 1000;
    box-shadow: 0 4px 8px #1c18146b;
    display: none; 
}

.nav__more .nav__item a:hover {
    background-color: #ccc;
}

.nav__more a{
    padding-right: 5px;
}

.nav__more > i{
    color: white;

}

.nav__more > i:hover{
    color: white;
}

.nav__more .nav__item a {
    color: #3b060a;
    text-transform: capitalize;
    display: block;
    padding: 10px 16px;
    text-align: left;
    width: 100%;
}

/* Carousel */
.content-container {
    max-width: 1000px;
    margin: auto;
    padding: 64px 16px;
}


.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption { 
    bottom: 0 !important; top: auto;
    left: 0;
    right: 0;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}

.carousel-caption h5, .carousel-caption p {
    color: white;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px #332424;
}

/* "THE BAND" Heading Styles */
.section-heading {
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
}

.section-sub-heading {
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    opacity: 0.6; 
}

.about-text {
    text-align: justify; 
    line-height: 1.5;
    margin: 15px 0;
}

.food-row {
    display: flex;
    padding: 32px 0;
    text-align: center;
}

.food-item {
    flex: 1; 
    padding: 0 8px;
}

.food-img {
    width: 60%; 
    border-radius: 4px; 
    margin-bottom: 16px;
    transition: transform 0.3s ease; /* Smoothly animates changes over 0.3 seconds */

}

.food-img:hover {
    transform: translateY(-10px); /* Moves the image UP by 10px */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Optional: Adds a shadow for a 3D lifting effect */
}

.dark-section {
    background-color: #691310;
    color: white;
}

.dark-section .section-sub-heading,
.dark-section .about-text {
    color: white;
    opacity: 1; 
}

.dark-section .about-text {
    opacity: 0.8; 
}

/* background wrapper */
.food-section {
    background-color: #3b060a;
    color: white; 
}

.text-white {
    color: white !important;
}

.food-list {
    background-color: white;
    color: #3b060a; 
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.food-list li {
    border-bottom: 1px solid #ddd; 
    padding: 8px 16px;
    color: #757575;
}

/* "HOT" red tag */
.hot {
    background-color: #8A0000;
    color: white;
    padding: 3px 8px;
    margin-left: 16px;
}

/* "3" badge */
.quantity {
    float: right;
    background-color: #3b060a;
    color: white;
    border-radius: 50%; /* circle */
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px; 
    margin-right: 15px;
}

/* Row of Ticket Cards */
.places-row {
    display: flex;
    justify-content: space-between;
    margin: 32px -8px;
}

/* Cards */
.place-item {
    background-color: white;
    color: #3b060a;
    width: 32%; 
    margin: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

/* Content inside the card */
.place-content {
    padding: 0 16px;
    padding-bottom: 16px;
}

.place-date {
    opacity: 0.6;
    margin: 15px 0;
}

/* Buy Tickets Button */
.btn-buy {
    background-color: #3b060a;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-buy:hover {
    background-color: #ccc;
    color: #3b060a;
}

/* --- MODAL STYLES --- */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    width: 90%; 
    max-width: 900px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    animation: animate-top 0.4s; 
}

/* Animation to make it slide down */
@keyframes animate-top {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Header Styling */
.modal-header {
    background-color: #ff7d29;
    color: white;
    padding: 32px 16px;
    text-align: center; 
    position: relative;
}

.modal-header h2 {
    letter-spacing: 4px;
    margin: 0;
    display: inline-block;
    position: relative;
    left: 12px; 
}

/* The 'X' Close Button */
.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    cursor: pointer;
    font-size: 24px;
}

.close-btn:hover {
    background-color: #ccc;
    color: #3b060a;
}

/* Body Styling */
.modal-body {
    padding: 0 16px;
}

.modal-input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Pay Button */
.pay-btn {
    width: 100%;
    background-color: #ff7d29;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.pay-btn:hover {
    background-color: #ccc;
    color: #3b060a;
}

/* CONTACT */
.contact-grid {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    line-height: 1.5;
}

.contact-info {
    width: 35%;
}

.contact-form {
    width: 60%;
}

/* FontAwesome */
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

/* Input Styling */
.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.half-input {
    width: 49%; 
    float: left;
    margin-right: 2%; 
}

.full-input {
    width: 100%;
}


.contact-form:after {
    content: "";
    display: table;
    clear: both;
}

/* SEND Button */
.send-btn {
    background-color: #3b060a;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    float: right;
    margin-top: 16px;
}

.send-btn:hover {
    background-color: #ccc;
    color: #3b060a;
}


/* FOOTER */
.footer-section {
    background-color: #f1f1f1; 
    padding: 64px 16px; 
    text-align: center;
}

.footer-section i {
    opacity: 0.6;
    margin: 4px;
    cursor: pointer;
    font-size: 24px; 
    color: #3b060a;
}

.footer-section i:hover {
    opacity: 1;
}

.footer-text {
    margin: 15px 0;
    opacity: 0.6;
}

.footer-text a {
    color: #3b060a;
}

/* Responsive */
@media (max-width: 768px) {
    .CarouselCacMien {
        height: 400px; 
    }
    
    .food-row {
        display: block;
    }
    
    .food-item {
        margin-bottom: 30px;
    }
    
    .food-img {
        width: 100%;
    }
    
    .contact-grid {
        display: block;
    }
    .contact-info, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }
    .half-input {
        width: 100%; 
        margin-right: 0;
    }
    
    .places-row {
        display: block;
    }
    .place-item {
        width: 100%;
        margin-bottom: 16px;
    }
}